# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Database
*.db
*.sqlite3

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build
dist/
build/

# Node
node_modules/